#cloud-config

ssh_pwauth: true
chpasswd:
  list: |
     egor:${password_hash}
  expire: False

users:
  - name: egor
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: [users, sudo]
    shell: /bin/bash
    passwd: "${password_hash}"
    ssh_authorized_keys:
      - ${ssh_key}

