version: 2
ethernets:
  ens3:
    dhcp4: false
    addresses:
      - ${ip_address}/24
    %{ if gateway != null }
    routes:
      - to: default
        via: ${gateway}
    %{ endif }
    nameservers:
      addresses: [8.8.8.8, 1.1.1.1]


# Enable DHCP on WAN interface for the router node
  %{ if gateway == null } 
  ens4:
    dhcp4: true
  %{ endif }
