version: 2
ethernets:
  ens3:
    dhcp4: false
    addresses:
      - ${ip_address}/24
    %{ if ext_ip == null ~}
    routes:
      - to: default
        via: ${gateway}
    %{ endif }
    nameservers:
      addresses: [8.8.8.8, 1.1.1.1]


# Enable static IP on WAN interface for the edge nodes 
  %{ if ext_ip != null ~} 
  ens4:
    dhcp4: false
    addresses:
      - ${ext_ip}/24
    routes:
      - to: default
        via: 192.168.122.1
  %{ endif }
