[defaults]
host_key_checking = False

[ssh_connection]
ssh_args = -o ConnectTimeout=60 -o ConnectionAttempts=5 -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes -o StrictHostKeyChecking=no
