log syslog all;
router id {{ internal_ip | default(ansible_host) }};

protocol device {
    scan time 10;
}

protocol direct {
    disabled;
}

protocol kernel {
    ipv4 {
        export all;    
        import none;
    };
}

protocol static {
    ipv4;
}

template bgp neighbors {
    local as {{ as_number }};
    multihop;
    ipv4 {
        import all;
        export all;
	next hop self;
    };
}

{% if inventory_hostname == 'bastion' %}
{% for host in groups['all'] %}
{% if host != 'bastion' %}
protocol bgp peer_{{ host | replace('-', '_') }} from neighbors {
    neighbor {{ hostvars[host]['internal_ip'] | default(hostvars[host]['ansible_host']) }} as {{ hostvars[host]['as_number'] }};
}
{% endif %}
{% endfor %}


{% else %}
protocol bgp bastion_link from neighbors {
    neighbor {{ hostvars['bastion']['internal_ip'] | default(hostvars['bastion']['ansible_host']) }} as {{ hostvars['bastion']['as_number'] }};
}
{% endif %}
