log syslog all;
router id {{ ansible_host }};

protocol device {
    scan time 10;
}

protocol direct {
    disabled;
}

protocol kernel {
    ipv4 {
        export all;    
        import none;
    };
}

protocol static {
    ipv4;
}

template bgp neighbors {
    local as {{ as_number }};
    ipv4 {
        import all;
        export all;
    };
}

{% if inventory_hostname == 'bastion' %}
{% for host in groups['all'] %}
{% if host != 'bastion' %}
protocol bgp {{ host | replace('-', '_') }} from neighbors {
    neighbor {{ hostvars[host]['ansible_host'] }} as {{ hostvars[host]['as_number'] }};
}
{% endif %}
{% endfor %}
{% else %}

protocol bgp bastion_link from neighbors {
    neighbor {{ hostvars['bastion']['ansible_host'] }} as {{ hostvars['bastion']['as_number'] }};
}
{% endif %}
